@keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  .collapse {
    float: right;
  }

  body {
    background-color: #000;
  }
  
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 35vh;
  }
  
  #landing-header h1 {
    color: #fff;
  }
  
  .slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
  }

  /* https://images.unsplash.com/photo-1536201707304-9e2c22ad3317?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80 */
  
  .slideshow li:nth-child(1) {
    background-image: url('https://images.unsplash.com/photo-1578473537885-ccac30d56377?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
    background-size: cover;
    background-position: bottom;

  }
  .slideshow li:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1478641396229-e6f88f6e31b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    animation-delay: 10s;
    background-size: cover;
  }
  .slideshow li:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1569370029765-33aaab1f4851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    animation-delay: 20s;
    background-position: bottom;
    background-size: cover;
  }
  .slideshow li:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1472224371017-08207f84aaae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    animation-delay: 30s;
    background-size: cover;
    background-position: bottom;


  }
  .slideshow li:nth-child(5) {
    background-image: url('https://images.unsplash.com/photo-1579178761600-f010959a3102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80');
    animation-delay: 40s;
    background-size: cover;
    background-position: center;

  }
  
  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }
  
#landing-btn{
    background-color: rgba(0,0,0,0);
    border: 2px solid gray;
    transition: all .5s ease-in-out;
}

#landing-btn:hover{
    background-color: gray;
}

 #navbar #transparent {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}



#text-black{
    font-weight: bold;
    color: black;
    font-size: 1.7rem;

}


.page-header {
  background-image: url('');
  position: relative;
  top: -40px;
  width: 100vw;
  height: 90vh;
}

.form{
  width: 40%;
  background-color: teal;
  margin-top: 50px;
  margin-left: 29%;
  padding: 20px;
  border-radius: 5px;
}

#bg-color{
  background-color: #278ea5;
}

#white{
  color: white;
  font-size: 1.7rem;
}

.main{
  margin-bottom: 150px;
}

.about-image{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  
} 

.container-margin{
  margin-top: 150px;
  margin-bottom: 70px;
}

.icon-bar{
  background-color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
  line-height: 30px;
}